@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color-yellow: #fcb900;
  --primary-color-black: #000000;
  --primary-color-white: #ffffff;
}
body{
  font-family: 'Poppins', sans-serif;

}
.navber{
  display: flex;
  background: var(--primary-color-black);
  padding: 20px 120px 20px 120px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  
}
.logo h3{
  color: var(--primary-color-white);
}
.a-link a{
  text-decoration: none;
  color: var(--primary-color-white);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin-left: 20px;
}
button{
  height: 40px;
  width: 150px;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  background-color: var(--primary-color-yellow);
  border: 1px solid var(--primary-color-yellow);
  color: var(--primary-color-black);
}
.hero{
  background-image: url(home.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;
  padding: 200px 120px 20px 120px;
}
.hero p {
  color: var(--primary-color-white);
}
.hero h3 {
  color: var(--primary-color-white);
  font-family: 'Poppins', sans-serif;;
  font-size: 44px;
  line-height: 52px;
  margin: 16px 0 16px 0 16px;
  font-weight: 700;
}
span{
  color: var(--primary-color-yellow);
  font-weight: 700;
  font: 20px;
}
#button{
  height: 40px;
  padding: 0px 18px 0px 18px;
  border-radius: 20px;
  background-color: var(--primary-color-white);
  border: 1px solid var(--primary-color-white);
  color: var(--primary-color-black);
  margin-top: 24px;
}
.section {
  padding: 80px 120px;
}
.div p{
  margin: 20px 0 20px 0;
}
.cards{
  display: flex;
  margin: 15px 0 0 0;
  justify-content: space-between;

}
.card-one{
  width: 350px;
  box-shadow: 8px 3px 15px whitesmoke;
  border: 1.5px solid white;
  color: black;
 
}
.card-one img {
  width: 100%;
}
.text{
 
  justify-content: space-between;
  padding: 30px 20px 30px 20px;
  
  letter-spacing: 1px;

}
.text h3{
  margin-top: 20px;
  font-size: 18px;
}
.Donate{
  display: flex;
  margin-top: 24px; 
  align-items: center;
  justify-content: space-between;

}
.button2{
  width: 120px;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px darkgray;
  background-color: var(--primary-color-black);
  color: var(--primary-color-white);
}
.section3{
  height: 90vh;
  padding: 150px 120px 150px;
  background: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: justify;
  
}
.divpic {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}
.divv{
  
  width: 400px;
  margin: 20px 0 0 0 ;
  
}
.divv img{
  width: 100%;
  border-radius: 30px;
  
  
}
.text2 h1{
  font-size: 40px;
  color: black;
 
}
.text2 h4 {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  
}
.text2 p{
  margin-top: 10px;
  font-size: 15px;
  color: black;
  text-align: justify;
  
}
.button3{
  width: 120px;
  padding: 0px 20px 0px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px darkgray;
  background: var(--primary-color-black);
  margin-top: 10px;
  color: white;
}
.dic{
  height: 30vh;
  padding: 0px 120px;
  background: var(--primary-color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer{
  display: flex;
  justify-content: space-around;
  
  color: var(--primary-color-white);
}
.text4{
  margin-left: 12px;
}
.text4 h3 {
  color: var(--primary-color-white);
  
}
.text4 p{
  color: gray;
}
.dicc{
  display: flex;
  font-size: 48px;
  color: var(--primary-color-yellow);
}
.midd {
  width: 100%; 
  
}
.puss {
  display: flex;
  background: gray;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 2;
 
}
.footerr{
  
  height: 70vh;
  background: var(--primary-color-yellow);
  align-items: center;
  justify-content: space-between;
}
.make2{
  display: flex;
}
.foot{
 
  margin: 90px 0 0 120px ;

}
.text1 {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.Donate2{
  align-items: center;
  text-align: center;

  
}
.button3{
  margin-top: 10px;
 }
.button4 {
  width: 100px;
  padding: 0px 10px 0px 20px;
  background: var(--primary-color-white);
  border-radius: 0px;
}
.make{
  align-items: center;
  text-align: center;
  margin: 90px 0 0 120px ;
  display: block;
}
  